<div class="container">
  <div style="margin-top:100px" class="row">
      <div class="col-md-12 text-right">
        <% if @documents.any? %>
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped text-center">
              <thead>
                <th>S/N</th>
                <th>Title</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
              </thead>
              <% @documents.each_with_index  do |document, index| %>
                <tbody>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= document.title %></td>
                    <td><%= document.description %></td>
                    <td><%= link_to "Edit", user_document_path(document), class: "btn btn-outline-success" %></td>
                    <td><%= link_to "Delete", user_document_path(document), method: :Delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-success" %></td>
                </tbody>
              <% end %>
            </table>
          </div>
      <% else %>
        <h4 class="text-center">You have not Uploaded any Document(s)</h4>
      <% end %>
      </div>
    </div>
</div>