<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <%= image_tag("logo.png", class: "d-inline-block align-top logo") %>
      Upload -> Download -> Share
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item<%= 'active' if current_page?(root_path) %>">
          <%= link_to "/", class: "nav-link text-white" do %>
            Home<span class="sr-only">(current)</span>
          <% end %>
        </li>
        <li class="nav-item<%= 'active' if current_page?(login_path) %>">
          <%= link_to "Login", "/login", class: "nav-link text-white" %> 
        </li>
        <li class="nav-item<%= 'active' if current_page?(register_path) %>">
          <%= link_to "Register", "/register", class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
