<div class="container">
  <div style="margin-top:100px" class="row">
    <div class="col-md-12 text-right">
      <%= link_to "Upload File", new_document_path, class: "btn btn-outline-secondary" %> 
      <hr />
      <% if @documents.any? %>
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped text-left">
            <thead>
              <th>S/N</th>
              <th>Title</th>
              <th>Description</th>
              <th>Uploaded_by</th>
              <th>Uploaded</th>
              <th></th>
              <th></th>
            </thead>
            <% @documents.each_with_index  do |document, index| %>
              <tbody>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= document.title %></td>
                  <td><%= document.description %></td>
                  <td><%= document.user.email %></td>
                  <td><%= time_ago_in_words(document.created_at) %></td>
                  <td><%= link_to "view", document_path(document), class: "btn btn-outline-success" %></td>
                  <td><input type="checkbox" class="checkthis" /></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      <%= link_to "Download", "/upload", class: "btn btn-outline-success" %>
    <% else %>
      <h4 class="text-center">Document list is empty</h4>
    <% end %>
  </div>
</div>